Source: cron2nagios
Section: admin
Priority: optional
Maintainer: Cyril Bouthors <cyb@debian.org>
Uploaders: Cyril Bouthors <cyril@boutho.rs>, Cyril Bouthors <cyril@bouthors.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.5

Package: cron2nagios
Architecture: all
Depends: nsca (> 2.9~) | nsca-client, ${misc:Depends}
Description: Execute a cron job and send its output and return code to Nagios
 Execute a cron job and send its output and return code to Nagios
